SGC_JS_SGCWEBSOCKETS RCDATA "sgcWebSockets.min.js"
SGC_HTML_SGCWEBSOCKETS RCDATA "sgcWebSockets.html"
SGC_JS_ESEGECE_COM RCDATA "esegece.com.min.js"
SGC_HTML_ESEGECE_COM RCDATA "esegece.com.html"
SGC_JS_DATASET_ESEGECE_COM RCDATA "dataset.esegece.com.min.js"
SGC_HTML_DATASET_ESEGECE_COM RCDATA "dataset.esegece.com.html"
SGC_JS_WEBRTC_ESEGECE_COM RCDATA "webrtc.esegece.com.min.js"
SGC_HTML_WEBRTC_ESEGECE_COM RCDATA "webrtc.esegece.com.html"
SGC_JS_WAMP_ESEGECE_COM RCDATA "wamp.esegece.com.min.js"
SGC_HTML_WAMP_ESEGECE_COM RCDATA "wamp.esegece.com.html"
